a  {

	text-decoration: none;
}

img {
	max-width: 100%;
}

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0  5%;
}

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

h1	{

	font-family: 'Sarpanch', sans-serif;
}
#logo {
	text-align: center;
	margin: 0;
}



#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {	
	float: left;
	padding-top: 10px;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
	color: #bdc3c7;
}

#gallery li:nth-child(3n) {
	clear: left;

}

#gallery li:nth-child(5n) {
	clear: left;

}

#gallery li a p {
	margin: 0;
	padding 5%;
	font-size: 0.75em;
	color: #bdc3c7;
}

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800px;
	padding: 15px 10px;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}